<!DOCTYPE html>
<html lang = "en">
    <head>
        
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width,initial-scale=1.0">
        <title>404 Page not Found</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Statyc1.css') }}">
        
    </head>

    <body>
        <div class="header">
            <div class="ball">
                <div class="ball-bg"></div>
                </div>
            <p>
                Произошёл Bad_Request
            </p>
            <p>
                Запрос составлен некорректно
            </p>
            <p>
                (Простите, из-за подготовки к физике у меня не хватает сил на что либо лучше.)
            </p>
        </div>
        <div class="navbar">
            <a href="/home">
                Вернуться на главную
            </a>
        </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </body>
    
</html>