//****************************************************************
  - Design by https://dribbble.com/shots/5272130-Paint-Roller
  - http://wow.techbrood.com/fiddle/11693
//****************************************************************
.container
  .paint
    .block.block1
    .block.block2
    .block.block3
    .block.block4
    .block.block5
  .main
    .circle
    .block
      .inner_block
        .big_paint
          - for(var i = 0; i < 20; i++)
            .inner_line
            .dot
            .inner_line2
            .inner_line3
            .inner_line2
            .dot
            .inner_line
            .inner_line3
            .inner_line
            .inner_line2
            .inner_line
            .dot
            .inner_line2
        .bgc
          .inner
    .line
      .line1
      .line2
    .handle
      .handle_top 
        .top
        .bottom
          .left
          .right
      .handle_bottom
        .inner