<!DOCTYPE html>
<html lang = "en">
    <head>
        
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width,initial-scale=1.0">
        <title>404 Page not Found</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style1.css') }}">
        
    </head>

    <body>
        <div class="header">
            <lottie-player
                src="{{ url_for('static', filename='401_animated.json') }}"
                background="transparent" speed="1"
                style="width: 700px; height: 700px; margin: auto;"
                loop autoplay>
            </lottie-player>
            <p>
                Кажется вы не зарегистрировались...
            </p>
            
        </div>
        <div class="navbar">
            <a href="/backtolog">
                Зарегистрироваться
            </a>
        </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </body>
    
</html>