<!DOCTYPE html>
<html lang = "en">
    <head>
        
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width,initial-scale=1.0">
        <title>404 Page not Found</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style1.css') }}">
        
    </head>

    <body>
        <div class="header1">
            <h1>
                405
            </h1>
            <h1>
                method not allowed
            </h1>
            <p>
                Метод не поддерживается
            </p>
            <button class="glow-on-hover" type="button">Бесполезно но красиво</button>
            <a href="/home">
                На главную
            </a>
        </div>
        <div class="navbar">
            <a href="/home">
                На главную
            </a>
        </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </body>
    
</html>