<!DOCTYPE html>
<html lang = "en">
    <head>
        
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width,initial-scale=1.0">
        <title>404 Page not Found</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_to_button.css') }}">
        
    </head>

    <body>
        <div class="header">
            <button class="glow-on-hover" type="button">Вернуться на главную</button>
            <p>
                Кажется вы не зарегистрировались...
            </p>
            <a href="/backtolog">
                Зарегистрироваться
            </a>
        </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </body>
    
</html>