<!DOCTYPE html>
<html>
    <head>
        <title>Начало творчества</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/Style1.css">
        <style>
            .footer{
        padding: 20px;
        text-align: center;
        background: peru;}
        </style>
    </head>

    <body>

        <div class = "header">
            <h1>Добро пожаловать в "Уголок Творца"</h1>
            <p>Сайт находится в ранней стадии разработки,рамещение новых работ временно не доступно.</p>
            <p>Если вы всё же хотите разместить здесь свои работы, обращайтесь к админу: slivnoy.kran@gmail.com</p>
        </div>

        <div class="navbar">
            <a href="/osp" class="right">Ознакомление с правилами</a>
            <a href="/promsrab">Просмотр работ</a>
        </div>
        <div class="navbar">
            <a href="/logout">Регистрация</a>
        </div>
        
        <div class="header">
            <h3>Публикация разного творчества играет важную роль в нашей культуре и обществе.</h3>
            <h3>Этот процесс не только способствует развитию индивидуального таланта, но и обогащает коллективное наследие человечества. Важно понимать, что разнообразие в творческом выражении отражает многообразие мировоззрений, опыта и культурных традиций. </h3>
            <h3>Публикация творческих работ помогает авторам делиться своими идеями, эмоциями и переживаниями с аудиторией, что способствует обмену мыслями и вдохновляет других. Кроме того, публикация творчества способствует распространению новых идей, способов мышления и перспектив, что способствует культурному обогащению общества в целом.</h3>
            <h3>Разнообразие творческих работ, будь то литература, живопись, музыка или другие формы искусства, способствует созданию более богатой и интересной культурной среды. Открытость к различным видам творчества позволяет нам узнавать о различных культурах, традициях и способах самовыражения.</h3>
            <h3>Таким образом, публикация разного творчества играет ключевую роль в сохранении культурного наследия, стимулирует интеллектуальное развитие и способствует взаимопониманию между людьми различных культур и традиций. Поддерживая и поощряя разнообразие в творческом выражении, мы создаем более открытое, толерантное и вдохновляющее общество.</h3>
            <h3></h3>
        </div>

        <div class="footer">
            <h2>Сайт создал Янко Стефан 23ИС1-2</h2>
            <p>По вопросам обращайтесь slivnoy.kran@gmail.com</p>
        </div>
    </body>
    <script>
        var color = [, "#3C9EE7", "#E7993C"];
 
        document.querySelector("div.footer").addEventListener(
            "mouseover", function () {
 
                document.querySelector("div.footer").style.background
                    = color[(Math.floor(Math.random() * color.length))];
            })
    </script>

</html>