<!DOCTYPE html>
<html>
    <head>
        <title>Ознакомление с правилами</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/Style1.css">
        <style>
            .footer{
        padding: 20px;
        text-align: center;
        background: peru;}
        </style>
    </head>
    <body>
        <div class = "header">
            <h1>Внимательно прочтите данные правила</h1>
            
            <h3></h3>
        </div>
        <div class="navbar">
            <a href="/home" class="right">Вернутьтся на главную</a>
            <a href="/promsrab">Просмотр работ</a>
        </div>
        <div class="navbar">
            <a href="/logout">Регистрация</a>
        </div>
        <div class="header">
            <h3>1. **Разнообразие приветствуется**: Все формы искусства приветствуются - от литературы и живописи до музыки и скульптуры.</h3>
        <h3>2. **Уважение к творчеству**: Уважайте труд и талант каждого художника, независимо от их уровня опыта или стиля.</h3>
        <h3>3. **Безопасное пространство**: Запрещены любые материалы, содержащие насилие, ненависть, дискриминацию или другой вредный контент.</h3>
        <h3>4. **Авторские права**: Убедитесь, что вы имеете право на публикацию всех материалов, которые вы загружаете на платформу.</h3>
        <h3>5. **Конструктивная критика**: Поддерживайте положительное общение и оказывайте конструктивную критику, чтобы помочь другим художникам расти и развиваться.</h3>
        <h3>6. **Прозрачность и честность**: Всегда указывайте авторство и источники ваших работ, если это необходимо.</h3>
        <h3>7. **Соблюдение законов**: Платформа не поддерживает нарушение законов о защите авторских прав или любую другую незаконную деятельность.</h3>
        <h3>8. **Создание сообщества**: Поддерживайте дружелюбное сообщество, где каждый может чувствовать себя принятым и вдохновленным.</h3>
        <h3>9. **Поддержка других художников**: Помогайте другим художникам, делясь своим опытом, советами и поддержкой.</h3>
        <h3>10. **Творчество без границ**: Не бойтесь экспериментировать и искать новые формы выражения - вдохновение может прийти из самых неожиданных источников.</h3>
        <h1>Наслаждайтесь</h1>
        <img src="static/kotiki-v-jivopisi-1-13.jpg"/>
    </div>

        <div class="navbar">
            <a href="/home" class="right">Вернутьтся на главную</a>
            <a href="/promsrab">Просмотр работ</a>
        </div>
        <div class="navbar">
            <a href="/logout">Регистрация</a>
        </div>

        <div class="footer">
            <h2>Сайт создал Янко Стефан 23ИС1-2</h2>
            <p>По вопросам обращайтесь slivnoy.kran@gmail.com</p>
        </div>
    </body>
    <script>
        var color = [, "#3C9EE7", "#E7993C"];
 
        document.querySelector("div.footer").addEventListener(
            "mouseover", function () {
 
                document.querySelector("div.footer").style.background
                    = color[(Math.floor(Math.random() * color.length))];
            })
    </script>
</html>