<!DOCTYPE html>
<html>
    <head>
        <title>Просмотр работ</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/Style1.css">
        <style>
            .footer{
        padding: 20px;
        text-align: center;
        background: peru;}
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Здесь вы увидите загруженные работы</h1>
            <p>Или вы хотите <a href="/home">вернутьтся на главную</a>?</p>
        </div>

        <div class="row">
            <div class="main">
                <h3>В творчестве Врубель был новатором, театральный художник Сергей Судейкин впоследствии писал: «В 1906 году Дягилев привёз 700 картин и прочих произведений русского искусства на осенний художественный салон в Париже. Под картины и роспись Врубеля отвели целый зал и туда постоянно ходил низенький коренастый человек, который часами рассматривал его работы. Это был сам великий Пабло Пикассо. Именно от Врубеля пошло всё современное искусство, весь этот кубизм и супрематизм. Он был началом начал, другие художники просто подглядели и развили в своих полотнах его идеи».</h3>
            </div>
            <div class="side">
                
                <img src="static/scale_2400.jfif" width="500px" height="300px" />
            </div>
            
        </div>
        <div class="navbar">
                <a href="/home" class="right">Вернутьтся на главную</a>
                <a href="/osp">Ознакомление с правилами</a>
            </div>
            <div class="navbar">
                <a href="/logout">Регистрация</a>
            </div>
        <div class="row">
            <div class="main">
                <h3>Окарина в морском стиле "Кит".
                    Полностью ручная работа.
                    Очень качественное и красивое изделие.
                    Держать такое изделие в руках, созерцать и слушать- одно удовольствие!
                    Играть сможет любой человек, без музыкальных навыков. Даже ребёнок.
                    Звук очень приятный, чарующий, ласковый.
                    Особенностью окарины является зависимость высоты звука исключительно от площади отверстий: ввиду конструкции инструмента при игре не важен порядок их открывания, если они одинакового диаметра.
                </h3>
            </div>
            
            <div class="side">
                
                <img src="static/ace586a5fe7bcc53841b16e5b8v0--muzykalnye-instrumenty-okarina-muzykalnaya-kit-babochka-ptits.jpg" width="300px" height="400px"/>
            </div>
            
                
            </div>
            <div class="navbar">
                <a href="/home" class="right">Вернутьтся на главную</a>
                <a href="/osp">Ознакомление с правилами</a>
            </div>
            <div class="navbar">
                <a href="/logout">Регистрация</a>
            </div>
            <div class="row">
                <div class="main">
                    <h3>Ловец снов: песня ветра Лавандовый Сон.
                        Ручная работа.
                        
                        Материалы /размеры:
                        Высота 110 см.
                        Выполнен на кольце из виноградной лозы. Диаметр кольца 30 см.
                        Лоза очищена от коры, отшлифована и покрыта яхтным лаком.
                        На кольце из лозы, сплетена паутинка из бамбуковой пряжи цвета слоновой кости.
                        От кольца вниз спускаются бамбуковые нити разной длины. Длина нитей подобрана так, чтобы прикрепленные к ним искусственные цветы лаванды располагаются по восходящей спирали.
                        В центре круга на деревянных бусинах спускаются три колокольчика разного диаметра с лавандой, прикрепленной к нижнему колокольчику.
                        </h3>
                </div>
                
                <div class="side">
                    
                    <img src="static/f5b122dacdb8079185ea1db621db--fen-shuj-i-ezoterika-muzyka-vetra-lavandovyj-son.jpg" width="400px" height="300px"/>
                </div>
                
                    
                </div>
                <div class="navbar">
                <a href="/home" class="right">Вернутьтся на главную</a>
                <a href="/osp">Ознакомление с правилами</a>
            </div>
            <div class="navbar">
                <a href="/logout">Регистрация</a>
            </div>
                <div class="footer">
                    <h2>Сайт создал Янко Стефан 23ИС1-2</h2>
                    <p>По вопросам обращайтесь slivnoy.kran@gmail.com</p>
                </div>
    </body>
    <script>
        var color = [, "#3C9EE7", "#E7993C"];
 
        document.querySelector("div.footer").addEventListener(
            "mouseover", function () {
 
                document.querySelector("div.footer").style.background
                    = color[(Math.floor(Math.random() * color.length))];
            })
    </script>
</html>