.header{
    padding: 80px;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
}

.navbar{
    overflow: hidden;
    background-color: #BD3127;
    color: #ffebcd;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(46, 46, 46);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right{
    float: right;
}
.navbar a:hover{
    background-color: rgb(255, 115, 0);
    color: black;
}
  .loader {
    background-color: var(blanchedalmond);
    overflow: hidden;
    width: 100%;
    height: 70%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
  }
  
  .loader__element {
    border-radius: 100%;
    border: var(5px) solid var(#BD3127);
    margin: calc(var(5px)*2);
  }
  
  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    33% { border: #4c56cb;}
    33% { border: #52cb4c;}
    100% { transform: scale(2); }
  }