h1{
    color: #412919;
}
body{
    margin: 0;
}
.header{
    padding: 80px;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
}
.header1{
    padding: 80px;
    height: 90%;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
}
.navbar{
    overflow: hidden;
    background-color: #BD3127;
    color: #ffebcd;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(46, 46, 46);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right{
    float: right;
}
.navbar a:hover{
    background-color: rgb(255, 115, 0);
    color: black;
}
@media screen and (max-widht: 700px) {
    .row{
        flex-direction: column;
    }
}
@media screen and (max-widht: 400px) {
    .navbar a{
        float: none;
        width: 100%;
    }
}
.row {
    display: flex;
}

.side{
    background-color: blanchedalmond;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: blanchedalmond;
    padding: 20px;
}


.footer h2{
    color: #412919;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ffdec3, #ff022c, #ffb783, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #721919
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

